.item_row{
    width: 100%;
    background-color: #ffffff;
    height: auto;
}

.item_row .title-box{
    display: flex;
    height: 15%;
    align-items: center;
    background-color: rgb(88, 80, 80);
    color: #ffffff;
    margin: 0;
}
.item_row .title-box h3{
    margin-left: 20px;
    flex: 1;
}
.item_row .title-box a{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    color: #ffffff;
    text-decoration: none;
}
.item_row .title-box a:hover{
    text-decoration: underline;
}
.item_list{
    list-style: none;
    padding: 0;
    text-align: center;
}
.item{
    display: inline-block;
    text-align: left;
    position: relative;
    min-width: 170px;
    min-height: 190px;
    max-width: 170px;
    max-height: 190px;
    margin: 10px 10px 10px 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px rgb(88, 80, 80);
    overflow: hidden;
}
.filter_box{
    display: flex;
    height: 40px;
    width: 100%;
    align-items: center;
    color: rgb(88, 80, 80);
    font-family: sans-serif;
}
#district{
    background-color: #ffffff;
    border: 2px solid rgb(88, 80, 80);
    cursor: pointer;
    border-radius: 4px;
}
.search{
    position: absolute;
    right: 10px;
}
.search input{
    height: 30px;
    width: 210px;
    font-size: medium;
    background-color: #ffffff;
    border: 2px solid rgb(88, 80, 80);
    border-radius: 4px;
}
.search button{
    height: 30px;
    border: 2px solid rgb(88, 80, 80);
    background-color: #ffffff;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 600;
    border-radius: 4px;
}
.search button:hover{
    background-color: rgb(88, 80, 80);
    color: #ffffff;
}
#district{
    height: 30px;
    width: 150px;
    font-size: medium;
}
.item .image_holder{
    height: 100%;
    width: 100%;
}
.image_holder img{
    height: 100%;
    width: 100%;
}
.item .description{
    position: absolute;
    height: auto;
    bottom: -33px;
    width: 100%;
    background-color: rgb(88, 80, 80);
    color: #ffffff;
    transition: 0.5s ease;
    cursor: pointer;
}
.item .description:hover{
    bottom: 0px;
}
.description .info{
    padding: 5px 0px 0px 10px
}
.info h4{
    padding: 0;
    margin: 0;
}
.info h5{
    padding: 0;
    margin: 0;
}

@media screen and (max-width:800px){
    
    .filter_box{
        margin-top: 75px;
    }
}

@media screen and (max-width:550px){
    
    .filter_box h3{
        display: none;
    }
    .show{
        display: none;
    }
}

@media screen and (max-width:442px){
    
    #district{
        height: 30px;
        width: 110px;
        font-size: medium;
    }
    .search input{
        width: 200px;
    }
    .search button{
        border-radius: 50%;    
    }
}

